<!DOCTYPE html>
<html lang="zh" class="route-index">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hope2</title>
    <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=202101062241">
    <link rel="stylesheet" href="https://lib.baomitu.com/bulma/0.9.1/css/bulma.css">
    <link rel="shortcut icon" href="/favicon.ico">
</head>

<body class="layout-default">
<nav id="navbar" class="bd-navbar navbar has-shadow is-spaced">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://hope2.qianyitian.com/">
                <img src="logo.jpg" width="40" height="160">  <h4 class="title is-3">Hope2</h4>
            </a>
        </div>

        <div id="navMenuIndex" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped is-grouped-multiline">
                        <p class="control">
                            <a class="button is-info" style="height: 2.25em; padding: calc(.375em - 1px) .75em;"
                               href="#">
                                <strong>Sponsor</strong>
                            </a>
                        </p>

                        <p class="control">
                            <a class="button is-primary" style="height: 2.25em; padding: calc(.375em - 1px) .75em;"
                               href="#">
                                <strong>Download</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="native-js native-show">
    <div class="native-flex">
        <style>
            .native-js {
                background: linear-gradient(-30deg, #4f38a4, #a244bc 45%, #4f38a4 45%) #4f38a4;
            }

            .native-details {
                color: #FFFFFF !important;
            }

            .native-details:hover {
                color: #FFFFFF !important;
            }

            .native-cta {
                color: #FFFFFF;
                background-color: #3bb76d;
            }


        </style>
        <div class="native-main">

            <div class="native-details">
                <span class="native-company">希望2.0</span>
                <span class="native-desc">构建高效精确全面的选股系统</span>
            </div>
        </div>
    </div>
</div>


<section class="hero is-medium intro">
    <div class="bd-focus">
        <nav class="columns">
            <div class="bd-focus-item column has-text-centered">
                <p class="title is-4">
                    <strong>自由</strong>
                </p>
                <p class="subtitle is-6">数据时效性高</p>
            </div>

            <div class="bd-focus-item column has-text-centered" href="https://bulma.io/documentation/overview/modular">
                <p class="title is-4">
                    <strong>全面</strong>
                </p>
                <p class="subtitle is-6">
                    囊括热门股票和场内基金
                </p>

            </div>

            <div class="bd-focus-item column has-text-centered" href="https://bulma.io/documentation/columns/basics">
                <p class="title is-4">
                    <strong>精确</strong>
                </p>
                <p class="subtitle is-6">
                    全自动分析 收益回溯统计
                </p>

            </div>

            <div class="bd-focus-item column has-text-centered" href="https://github.com/jgthms/bulma" target="_blank">
                <p class="title is-4">
                    <strong>免费</strong>
                </p>
                <p class="subtitle is-6">
                    代码开源
                </p>
            </div>
        </nav>
    </div>
</section>

<section class="section  is-small">
    <div class="container">
        <div class="columns">
            <div class="column">
                <a href="demark.html">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRk5T.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>DeMark策略</strong> <small>希望150</small> <strong
                                            class="tag is-danger">Hot!</strong>
                                        <br>
                                        精选A股最优秀的150只股票，采用DeMark策略进行预测和回溯，规避垃圾股，提高盈利概率
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="demark-all.html">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRGGD.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>DeMark策略</strong> <small>所有股票</small>
                                        <br>
                                        对所有股票采用DeMark策略，满足不信邪用户的需求
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="demark-flag.html?code=bitcoin">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYR8PO.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>DeMark策略</strong> <small>比特币</small>
                                        <br>
                                        在比特币采用DeMark策略
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <a href="etf.html">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYR1IK.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>ETF基金</strong> <small>跟踪各个行业ETF基金</small> <strong
                                            class="tag is-danger">Hot!</strong>
                                        <br>
                                        跟踪所有主流行业ETF基金，紧抓行业热点
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="demark-flag.html?code=oil">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRla6.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>DeMark策略</strong> <small>石油</small>
                                        <br>
                                        在石油期货采用Demark策略
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="demark-flag.html?code=silver">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRQVx.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>DeMark策略</strong> <small>白银</small>
                                        <br>
                                        在白银期货采用Demark策略
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <a href="report.html?name=SuddentHighVolume&type=daily">
                    <div class="box">
                        <article class="media">

                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRKq1.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>短期放量</strong>
                                        <br>
                                        在20个工作日内，发生过3次成交量是前一天的2.5倍
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="report.html?name=SuddentHighVolumeLite&type=daily">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRurR.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>短期放量精简版</strong>
                                        <br>
                                        在2个工作日内，发生过1次成交量是前一天的2.4倍,换手大于1.2%,涨幅大于0
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="report.html?name=SuddentIncrease&type=daily">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRnM9.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>短期涨</strong>
                                        <br>
                                        10天之内有近似涨停，目前跌幅大于 -3.5%
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <a href="report.html?name=SuddentLowVolume&type=daily">
                    <div class="box">
                        <article class="media">

                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRexJ.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>短期缩量</strong>
                                        <br>
                                        5天之内某一天的跌幅超过-4.0，成交量小于前一天百分之50
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="report.html?name=YesterdayOnceMore&type=daily">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRZ24.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>昨日重现</strong>
                                        <br>
                                        只考虑110天内的股票，曾经在20天内涨幅超过50.0%，现值比前期低点涨幅大于 -50.0%， 小于 30.0%
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="report.html?name=IPO&type=daily">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRVGF.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>新股</strong>
                                        <br>
                                        上市10个月以内，当前价格低于最高价的1/2
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <a href="report.html?name=MACD&type=daily">
                    <div class="box">
                        <article class="media">

                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYREPU.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>上穿日线MACD</strong>
                                        <br>
                                        MACD 介于0和0.1之间，且大于前一天的值，换手率大于2%
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="report.html?name=MACDAdvance&type=daily">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRFaV.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>日线MACD上穿高级版</strong>
                                        <br>
                                        30 天之内 MACD小于0过，目前MACD大于0，股价高于30天均线
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="report.html?name=MACD&type=weekly">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRiV0.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>周线MACD上穿</strong>
                                        <br>
                                        MACD 介于0和0.1之间，且大于前一天的值，换手率大于2%
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <a href="report.html?name=MACD&type=monthly">
                    <div class="box">
                        <article class="media">

                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYRCbq.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>月线MACD上穿</strong>
                                        <br>
                                        MACD 介于0和0.1之间，且大于前一天的值，换手率大于2%
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="28-policy-compare.html">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYR9rn.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>28策略比较</strong>
                                        <br>
                                        沪深300与中证500按照一定的策略交替持有，回溯收益指标
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="backtracking.html">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://s3.ax1x.com/2021/01/12/sYhYzF.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>算法收益回溯</strong>
                                        <br>
                                        比较长期持有和高抛低吸的盈利差别
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<hr/>




<section class="section is-small">

    <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral">
        本网站由
        <img height="16" width="32" src="logo2.png">
        提供CDN加速/云存储服务
    </a>
    Copyright © 2021  辽ICP备17004018号
</section>

<section class="is-hidden">
    <p class="is-hidden">
        这个网站是献给我亲爱的老婆Elsa, 永远爱你的Bing
    </p>
</section>

</body>
</html>